@font-face {
    font-family: 'Anonymous';
    src: url(./Asset/Fonts/Anonymous_Pro/AnonymousPro-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Kavoon';
    src: url(./Asset/Fonts/Kavoon/Kavoon-Regular.ttf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anonymous', sans-serif;
}


/* Header ve Navbar */
header {
    background-color: white; 
    border-bottom: 1px solid #e0e0e0; 
}
.navbar {
    display: grid; 
    grid-template-columns: 1fr auto 1fr; 
    align-items: center; 
    background-color: white;
    padding: 10px 40px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-links {
    list-style: none; 
    display: flex; 
    gap: 90px; 
}

.nav-links.left {
    justify-content: flex-end; 
    padding-right: 10%; 
}

.nav-links.right {
    justify-content: flex-start; 
    padding-left: 10%;
}

.nav-links li {
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease; 
}

.nav-links li:hover {
    background-color: #f2f2f2;
    transform: translateY(-2px);
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.nav-links a::after {
    content: "";
    display: block;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}
/* Logo */
.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 200px;
    height: auto;
    margin: 10px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.05);
}

/* Game Section */
.game-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1s ease;
}

.game-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    filter: blur(12px);
    opacity: 0.5;
    pointer-events: none;
    border: none;
}

.background-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: -2;
}

/* Game Info */
.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    font-size: 17px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.game-info img {
    width: 400px;
    border-radius: 50px;

}

.game-info h2 {
    font-size: 40px;
    margin-bottom: 20px;
}


/* Buttons */
.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

button.img {
    height: auto;
}

.button:hover {
    transform: scale(1.05);
}

.steam-button {
    padding: 5px 10px;
}

.steam-button img {
    width: 120px;
}

.more-button {
    background: #f0c14b;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
}

/* Animations */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s ease forwards;
    animation-delay: 1s;
}




.footer {
    background-color: white;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 60px;
    font-family: 'Kavoon', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ccc;
    justify-content: center;
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 160px;
    padding-top: 20px;
}

.footer-column h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    font-size: 18px;
    color: #555;
    padding: 3px;
}

.footer-bottom {
    padding-top: 125px;
    text-align: right;
    font-size: 14px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .nav-links.left,
    .nav-links.right {
        justify-content: center;
        padding: 0;
    }

    .logo img {
        width: 180px;
    }

    .game-section {
        height: auto;
        min-height: 400px;
        padding: 40px 20px;
    }

    .game-info {
        font-size: 18px;
        padding: 20px;
    }

    .game-info img {
        width: 80%;
    }

    .buttons {
        flex-direction: column;
        /* Mobilde alt alta göster */
        gap: 15px;
    }

    .steam-button img {
        width: 100px;
    }

    .more-button {
        padding: 8px 12px;
    }
}